<div class="container-fluid px-md-5">
    <form #naacForm213="ngForm" name="naacForm" required>
        <h2><div class="custom-head-num">2.4.3. </div><div class="custom-head">Average Teaching experience of fulltime teachers in number of years (data for the
            preceding academic year)</div>
        </h2>
        <div style="font-size: large;">Average teaching experience of full-time teachers (cadre-wise) in number of years.
        </div><br>
        <div style="font-size: medium;">Data Requirement:</div><br>
        <div class="col">
            <ul>
                <li>
                    List of fulltime teachers
                    <mat-form-field appearance="outline" style="font-size: 8px; width: 50px;" >
                        <input matInput pattern="[\d{1,5}]*" required>
                    </mat-form-field>
                </li>
                <li>
                    Number of years of teaching experience
                    <mat-form-field appearance="outline" style="font-size: 8px; width: 50px;"  >
                        <input matInput pattern="[\d{1,5}]*" required>
                    </mat-form-field>
                </li>
            </ul>  
        </div>   <br>
        <div class="row">
            <div class="col">
                <label>Average percentage = &nbsp;</label>
                <mat-form-field appearance="outline" style="font-size: 8px; width: 60px;" >
                    <input required matInput>
                </mat-form-field>
            </div>
        </div><br> 

        <div class="row">
            <div class="col">
                <label>List of teachers including their designation, qualifications, department and number of
                    years of teaching experience</label>
                
                <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                name="teachingFile" max-size="2000" [(ngModel)]="teachinglearning.page13File1" requiredFileSize
                class="form-control" [style.width.%]="49">
              <small class="text-danger" *ngIf="fil.errors?.formatName">
                {{fil.errors ?.formatName.value}} These file extension are not allowed
              </small>
              <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
                File size is Not compactable
              </small>
            </div>
        </div>
        <div class="row">    
            <div class="col">
                <label>Any other relevant information</label>
                <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                name="teachingFile" max-size="2000" [(ngModel)]="teachinglearning.relevantFile13" requiredFileSize
                class="form-control" [style.width.%]="49">
              <small class="text-danger" *ngIf="fil.errors?.formatName">
                {{fil.errors ?.formatName.value}} These file extension are not allowed
              </small>
              <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
                File size is Not compactable
              </small>
            </div>
        </div>  <br>
        <div class="row mt-3">
            <div class="col">
              <div class="form-group" [style.text-align]="'right'">
                <button type="submit" [disabled]="naacForm213.invalid" class="btn btn-primary">Save</button>
              </div>
            </div>
            <div class="col">
              <div class="form-group" [style.text-align]="'left'">
                <button type="submit" routerLink="/criteria2/page14" 
                  class="btn btn-info">Next</button>
              </div>
            </div>
          </div><br><br>  

    </form>
</div>
