<div class="container-fluid">
    <form #naacFormMasterYear="ngForm" name="naacForm" required>
        <h2>
            Create Academic Year
        </h2>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="year">Academic Year : &nbsp; </label>
                    <mat-form-field appearance="outline" style="font-size: 10px; width: 300px;">
                        <mat-select required #year="ngModel" [(ngModel)]="masterscreens.year"
                            [class.is-invalid]="year.invalid && year.touched" name="year">
                            <mat-option *ngFor="let years of masterscreens.AcademicYear" [value]="years">
                                {{years}}</mat-option>
                        </mat-select>
                        <mat-error [hidden]="year.valid || year.untouched">Academic Year is Required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                        <div>
                            <label for="dataEntries">Most recent year for Data entry</label>
                            <mat-radio-group  required
                                [(ngModel)]="masterscreens.dataEntries" name="dataEntries" #dataEntry="ngModel">
                                <mat-radio-button class="p-3" value="true">Yes</mat-radio-button>
                                <mat-radio-button class="p-3" value="false">No</mat-radio-button>
                                <mat-error [hidden]="dataEntry.valid || dataEntry.untouched">Field is
                                    Required</mat-error>
                            </mat-radio-group>
                        </div>
                        </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div class="form-group" [style.text-align]="'right'">
                    <button type="submit" [disabled]="naacFormMasterYear.invalid" class="btn btn-primary">Save</button>
                </div>
            </div>
            <div class="col">
                <div class="form-group" [style.text-align]="'left'">
                    <button type="submit"  class="btn btn-info">Reset</button>
                </div>
            </div>
        </div>       
    </form>
    <div class="col-md-8 mt-4 mb-4">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Serial Number</th>
                    <th>Academic Year</th>
                    <th>Most recent year for data entry</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>
</div>    

