<div class="container-fluid">
    <form #naacFormMasterYear="ngForm" name="naacForm" required>
        <h2>
            Create Academic Year
        </h2>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="year">Academic Year : &nbsp; </label>
                    <mat-form-field appearance="outline" style="font-size: 10px; width: 300px;">
                        
                        <input type="number" matInput name="masterscreens.year"  #year="ngModel" [(ngModel)]="masterscreens.year">
                        <mat-error [hidden]="year.valid || year.untouched">Academic Year is Required</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                        <div>
                            <label for="dataEntries">Most recent year for Data entry</label>
                            <mat-radio-group  required
                                [(ngModel)]="masterscreens.dataEntries" name="dataEntries" #dataEntry="ngModel">
                                <mat-radio-button class="p-3" value="yes">Yes</mat-radio-button>
                                <mat-radio-button class="p-3" value="no">No</mat-radio-button>
                                <mat-error [hidden]="dataEntry.valid || dataEntry.untouched">Field is
                                    Required</mat-error>
                            </mat-radio-group>
                        </div>
                        </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <div class="form-group" *ngIf="!edit" [style.text-align]="'right'" id="savebt">
                    <button type="submit" [disabled]="naacFormMasterYear.invalid"(click)="addAcademicYear()" class="btn btn-primary">Save</button>
                </div>
                <div *ngIf="edit" id="updatebt" class="form-group" [style.text-align]="'right'">
                    <button type="submit" [disabled]="naacFormMasterYear.invalid"(click)="updateAcademicYear()" class="btn btn-primary">Update</button>
                </div>
            </div>
            <div class="col">
                <div class="form-group" [style.text-align]="'left'">
                    <button type="submit"  class="btn btn-info">Reset</button>
                </div>
            </div>
        </div>       
    </form><br><br>
    <div>
        <table class="table table-bordered" style="width: 100%;">
            <thead>
                <tr style="text-align: center;">
                    <th style="width: 20%;">SI No.</th>
                    <th style="width: 20%;">Academic Year</th>
                    <th style="width: 20%;">Most recent year for data entry</th>
                    <th style="width: 90%;">Actions</th>
                </tr>
            </thead>
            <tbody  style="text-align: center;">
                <tr *ngFor="let years of academicYear; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{years.year}}</td>
                    <td>{{years.dataEntries}}</td>
                    <td> <mat-icon (click)="editAcademicYear(years)" style="color: green; font-size: large; ">edit</mat-icon>
                        <mat-icon (click)="deleteAcademicYear(years.id)" style="color:red; font-size: large; ">delete</mat-icon></td>
                </tr>     
                         
            </tbody>
        </table>
    </div><br><br><br>
</div>    

