<div class="container-fluid px-md-5">
    <form #naacForm214="ngForm" name="naacForm" required>
        <h2><div class="custom-head-num">2.4.4. </div><div class="custom-head">Average percentage of teachers trained for development and delivery of e-content / ecourses
            during the last 5 years</div>
        </h2>
        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr style="text-align: center;">
                            <th style="width: 30%;">Year</th>
                            <th *ngFor="let year of teachinglearning.academicYear">{{year}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align: center;">
                            <th >Number of teachers trained for development and delivery of e-content / e-courses during the
                            last 5 years
                          </th>

                            <td *ngFor="let year of teachinglearning.academicYear ; let i= index">
                                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                    <input matInput required name="noTeachersTrained{{i}}" 
                                    #noOfTeachersTrained="ngModel" [(ngModel)]="teachinglearning.noTeachersTrained[i]"
                                    pattern="[\d{1,5}]*">
                                    <mat-error *ngIf="noOfTeachersTrained.errors?.required">This field is required </mat-error>
                                    <mat-error *ngIf="noOfTeachersTrained.errors?.pattern">Only numbers Allowed</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                        <tr style="text-align: center;">
                            <th>Number of fulltime teachers in the Institution during the last 5 years</th>
                            <td *ngFor="let year of teachinglearning.academicYear ; let i= index">
                                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                    <input matInput required name="totalNoTeachers{{i}}" 
                                    #totalNoOfTeachers="ngModel" [(ngModel)]="teachinglearning.totalNoTeachers[i]"
                                    pattern="[\d{1,5}]*">
                                    <mat-error *ngIf="totalNoOfTeachers.errors?.required">This field is required </mat-error>
                                    <mat-error *ngIf="totalNoOfTeachers.errors?.pattern">Only numbers Allowed</mat-error>
                                </mat-form-field>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <label>Average percentage = &nbsp;</label>
                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                    <input required matInput>
                </mat-form-field>
            </div>
        </div><br>
        
        <div style="font-size: large;">Upload:</div><br>
        <div class="row">
            <div class="col">
                <label>Reports of the e-training programmes</label>
                <div style="display: flex;">
                <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                name="teachingFile" max-size="2000" [(ngModel)]="teachinglearning.page14File1" requiredFileSize
                class="form-control" [style.width.%]="49">
              <small class="text-danger" *ngIf="fil.errors?.formatName">
                {{fil.errors ?.formatName.value}} These file extension are not allowed
              </small>
              <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
                File size is Not compactable
              </small>
              <div style="margin-top:1%;margin-left: 1%; color: green;">(PDF,word,excel)</div>
              </div>
            </div>
            <div class="col">
              <label>e-contents / e-courses developed</label>
              <div style="display: flex;">
              <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file" name="teachingFile"
                max-size="2000" [(ngModel)]="teachinglearning.page14File2" requiredFileSize class="form-control"
                [style.width.%]="49">
              <small class="text-danger" *ngIf="fil.errors?.formatName">
                {{fil.errors ?.formatName.value}} These file extension are not allowed
              </small>
              <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
                File size is Not compactable
              </small>
              <div style="margin-top:1%;margin-left: 1%; color: green;">(PDF,word,excel)</div>
              </div>
            </div>
        </div>   <br> 
        
        <div class="row">    
            <div class="col">
                <label>Year –wise list of full time teachers trained during the last 5 years</label>
                <div style="display: flex;">
                <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                name="teachingFile" max-size="2000" [(ngModel)]="teachinglearning.page14File3" requiredFileSize
                class="form-control" [style.width.%]="24">
              <small class="text-danger" *ngIf="fil.errors?.formatName">
                {{fil.errors ?.formatName.value}} These file extension are not allowed
              </small>
              <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
                File size is Not compactable
              </small>
              <div style="margin-top:1%;margin-left: 1%; color: green;">(excel)</div>
              </div>
            </div>
        </div><br>
        <div class="row">
            <div class="col">
                <label>Certificate of completion of training for development of and delivery of e-contents / ecourses
                    / video lectures / demonstrations
                </label>
                <div style="display: flex;">
                <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                name="teachingFile" max-size="2000" [(ngModel)]="teachinglearning.page14File4" requiredFileSize
                class="form-control" [style.width.%]="24">
              <small class="text-danger" *ngIf="fil.errors?.formatName">
                {{fil.errors ?.formatName.value}} These file extension are not allowed
              </small>
              <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
                File size is Not compactable
              </small>
              <div style="margin-top:1%;margin-left: 1%; color: green;">(PDF,jpeg)</div>
              </div>
            </div>
        </div><br>
        
        <div>
            Web-link to the contents delivered by the faculty hosted in the HEI’s website &nbsp;
             <mat-form-field  appearance="outline" style="width: 44%; font-size: 10px;">
                  <input matInput  name="teachinglearning.heiWebsite"
                            [(ngModel)]="teachinglearning.heiWebsite">
             </mat-form-field>
            <button (click)="myfunc()" style="margin-left:3%;" class="btn btn-info">Verify</button>
        </div><br>

        <div class="row">
            <div class="col">
                <label>Any other relevant information
                </label>
                <div style="display: flex;">
                <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                name="teachingFile" max-size="2000" [(ngModel)]="teachinglearning.relevantFile14" requiredFileSize
                class="form-control" [style.width.%]="24">
              <small class="text-danger" *ngIf="fil.errors?.formatName">
                {{fil.errors ?.formatName.value}} These file extension are not allowed
              </small>
              <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
                File size is Not compactable
              </small>
              <div style="margin-top:1%;margin-left: 1%; color: green;">(PDF,jpeg,word,excel)</div>
              </div>
            </div>
        </div><br>
        <div class="row">
          <div class="col-md-4">
            <label>Institutional data in prescribed format.</label>        
            <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file" name="teachingFile"
              max-size="2000" [(ngModel)]="teachinglearning.page14File1" requiredFileSize class="form-control"
              [style.width.%]="74">
            <small class="text-danger" *ngIf="fil.errors?.formatName">
              {{fil.errors ?.formatName.value}} These file extension are not allowed
            </small>
            <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
              File size is Not compactable
            </small>
          </div>
          <div class="col-md-8">
            <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon"  style="margin-top: 2%;">
              <mat-icon>download</mat-icon>
            </button>
            <span>&nbsp; Download Template(excel)</span>
          </div>
        </div><br><br>

        <div class="row mt-3">
          <div class="col">
            <div class="form-group" [style.text-align]="'left'" style="margin-left: 20%;">
              <button type="submit" routerLink="/criteria2/page13" class="btn btn-light text-info"><div style="display: flex;">
                <mat-icon style="transform: rotate(180deg)">play_circle_filled</mat-icon>&nbsp; Prev
              </div></button>
            </div>
          </div>
            <div class="col">
              <div class="form-group" [style.text-align]="'right'">
                <button type="submit" [disabled]="naacForm214.invalid" class="btn btn-primary">Save</button>
              </div>
            </div>
            <div class="col">
              <div class="form-group" [style.text-align]="'left'">
                <button type="submit"  class=" btn btn-light text-info" style="background-color:#DCE6E6;">Cancel</button>
              </div>
            </div>
            <div class="col">
              <div class="form-group" [style.text-align]="'right'" style="margin-right: 20%;">
                <button type="submit" routerLink="/criteria2/page15" class="btn btn-light text-info">
                  <div style="display: flex;">Next &nbsp;
                    <mat-icon>play_circle_filled</mat-icon>
                  </div>
                </button>
              </div>
            </div>
          </div><br><br>
    </form>
</div>
