<div class="container-fluid">
    <form #naacForm5="ngForm" name="naacForm" required>
    <h1><div class="custom-head">Curriculum Enrichment (25) </div><div class="custom-head-num">1.3</div></h1>
    <h2><div class="custom-head-num">1.3.1 </div><div class="custom-head">The Institution integrates cross-cutting issues relevant to gender, environment and
        sustainability, human values, health determinants, Right to Health and emerging demographic
        issues and Professional Ethics into the Curriculum as prescribed by the University / respective
        regulative councils</div></h2>



    <div class="form-group">
        <label for="description">Provide description of above-mentioned process within 500 words</label>
        <mat-form-field [style.width.%]="70" appearance="outline">
            <textarea required name="descriptionn" #descripId="ngModel" class="form-control"
            [class.is-invalid]="descripId.invalid && descripId.touched" cols="90" rows="10"
            [(ngModel)]="curriculamModel.descriptionn" (keydown)="wordCounter()" 
            [attr.disabled]="words >500 ? '' : null" matInput></textarea>
        </mat-form-field>
        <div style="margin-left: 60%;">Words: <span id="wordCount">{{ words }}/500</span></div>
        <small class="text-danger" [hidden]="descripId.valid || descripId.untouched">
            Description is required
        </small>
        <!-- <small class="text-danger" [hidden]="!descMin">
             Minimum 100 Words
        </small> -->
        <small class="text-danger" [hidden]="!descMax">
            Maximun 500 Words
        </small>
    </div><br>
    <div style="font-size: large;">Upload:</div><br><br>
    <div class="col">
        <ul>
            <li>
                List of courses with their description.&nbsp;
                <mat-form-field appearance="outline" style=" margin-left: 1%; width: 50%; font-size: 10px;">
                    <input matInput name="teachinglearning.reportURL" [(ngModel)]="curriculamModel.listCourses">
                </mat-form-field>
                <div style="text-align: center;">
                    <label> OR: </label>
                    <input required #fil9="ngModel" (change)="fileValidation($event)" requiredFileType type="file" name="brochure"
                        [(ngModel)]="curriculamModel.page5File1" requiredFileSize class="form-control"
                         [style.width.%]="24" style="margin-left: 39%;">
                    <small class="text-danger" *ngIf="fil9.errors ?.formatName">
                        {{fil9.errors ?.formatName.value}} These file extension are not allowed
                    </small>
                    <small class="text-danger" [hidden]="!this.fileError ||  fil9.untouched ">
                        File size is Not compactable
                    </small>
                </div>
            </li><br>
            <li>
                Any other relevant information.&nbsp;
                <mat-form-field appearance="outline" style=" margin-left: 1%; width: 50%; font-size: 10px;">
                    <input matInput name="teachinglearning.reportURL" [(ngModel)]="curriculamModel.relevantInfo5">
                </mat-form-field>
                <div style="text-align: center;">
                    <label> OR: </label>
                    <input required #fil10="ngModel" (change)="fileValidation($event)" requiredFileType type="file" name="curiculamFile"
                        [(ngModel)]="curriculamModel.page5File2" requiredFileSize class="form-control"
                        [style.width.%]="24" style="margin-left: 39%;">
                    <small class="text-danger" *ngIf="fil10.errors ?.formatName">
                        {{fil10.errors ?.formatName.value}} These file extension are not allowed
                    </small>
                    <small class="text-danger" [hidden]="!this.fileError ||  fil10.untouched ">
                        File size is Not compactable
                    </small>
                </div>    
            </li>
        </ul>
    </div> <br>       

    
    
    <div class="row mt-3">
        <div class="col">
            <div class="form-group" [style.text-align]="'left'" style="margin-left: 20%;">
                <button type="submit" routerLink="/fudocs/curriculam4" class="btn btn-light text-info">
                <div style="display: flex;">
                    <mat-icon style="transform: rotate(180deg)">play_circle_filled</mat-icon>&nbsp; Prev
                </div></button>
            </div>
        </div>
        <div class="col">
            <div class="form-group" [style.text-align]="'right'">
                <button type="submit" [disabled]="naacForm5.invalid" class="btn btn-primary">Save</button>
            </div>
        </div>
        <div class="col">
            <div class="form-group" [style.text-align]="'left'">
                <button type="submit" class=" btn btn-light text-info" style="background-color:#DCE6E6;">Cancel</button>
            </div>
        </div>
        <div class="col">
            <div class="form-group" [style.text-align]="'right'" style="margin-right: 20%;">
                <button type="submit" routerLink="/fudocs/curriculam6" class="btn btn-light text-info"><div style="display: flex;">Next &nbsp;
                    <mat-icon>play_circle_filled</mat-icon>
                </div></button>
            </div>
        </div>
        
    </div><br>


</form>
</div>

