h1 {
  text-align: center;
  margin-top: 20px;
}
h2 {
  margin-top: 20px;
  margin-left: 2.5em;
  text-indent: -2.5em;
}

.container {
  text-align: center;
  margin-top: 20px;
}

.side {
  text-align: center;
  margin-left: 20px;
}
