<div class="container-fluid px-md-5">
    <form #naacFormEn4="ngForm" name="naacform" required>
        <div class="row">
            <div class="col">
                <h2>
                    <div class="custom-head-num">
                        1.3.4
                    </div>
                    <div class="custom-head">
                        Percentage of students undertaking field visits/Clinical / industry internships/research
                        projects/industry visits/community postings (data for the preceding academic year)
                    </div>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <label>Institutional data in prescribed format.</label>
                <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                    name="InstitutionalFile" max-size="2000" [(ngModel)]="curriculamModel.page8Institutional" requiredFileSize
                    class="form-control" [style.width.%]="100">
                    
                <small class="text-danger" *ngIf="fil.errors?.formatName">
                    {{fil.errors ?.formatName.value}} These file extension are not allowed
                </small>
                <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
                    File size is Not compactable
                </small>
            </div>
            <div class="col-md-8">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon"
                     style="margin-top: 2%;">
                    <mat-icon>download</mat-icon>
                </button>
                <span> &nbsp; Download Template(excel)</span>
            </div><br>
            <span style="margin-top: 1%; font-size: large;">OR:</span>
        </div> <br>
        <div class="row">
            <div class="col">
                <div class="row seven-cols" style="word-break: break-all;">
                    <div class="container dborder">
                        <tr style="vertical-align: middle;">
                            <th class="col-md-1">Programme Name</th>
                            <th class="col-md-1">No. of students undertaking field visits</th>
                            <th class="col-md-1">No. of students undertaking Clinical /industry internships</th>
                            <th class="col-md-1">No. of students undertaking research projects</th>
                            <th class="col-md-1">No. of students undertaking Industry visits</th>
                            <th class="col-md-1">No. of students undertaking Community postings</th>
                            <th class="col-md-1">Total No.of students undertaking field visits/clinical/industry
                                internships/research projects, industry visits & community postings</th>
                        </tr>
                    </div>
                </div>

                <div class="row seven-cols">
                    <div class="container dbordercont" style="text-align: center;">
                        <tr *ngFor="let enrich of curriculamModel.enrichArry;let i=index;last as islast">
                            <td class="col-md-1">
                                <div class="form-group">
                                    <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                        <mat-select required #program="ngModel" [(ngModel)]="enrich.programId"
                                            [class.is-invalid]="program.invalid && program.touched"
                                            name="programId_{{[i]}}">
                                            <mat-option value="">Select</mat-option>
                                            <mat-option *ngFor="let prog of curriculamModel.program" [value]="prog.id">
                                                {{prog.name}}</mat-option>
                                        </mat-select>
                                        <mat-error [hidden]="program.valid || program.untouched"> Program is Required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </td>
                            <td class="col-md-1">
                                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                    <input (blur)="calculateTotal(noStudents1)" pattern="[\d{1,5}]*"
                                        name="nostudUndertakingVisits_{{[i]}}" matInput #noStudents1="ngModel"
                                        [(ngModel)]="enrich.nostudUndertakingVisits" required>
                                    <mat-error *ngIf="noStudents1.errors?.required">These fields is mandatory
                                    </mat-error>
                                    <mat-error *ngIf="noStudents1.errors?.pattern">Only numbers Allowed</mat-error>
                                </mat-form-field>
                            </td>
                            <td class="col-md-1">
                                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                    <input (blur)="calculateTotal(noStudents2)"
                                        name="nostudUndertakingClinicaalVisits_{{[i]}}" matInput #noStudents2="ngModel"
                                        [(ngModel)]="enrich.nostudUndertakingClinicaalVisits" required
                                        pattern="[\d{1,5}]*">
                                    <mat-error *ngIf="noStudents2.errors?.required">These fields is mandatory
                                    </mat-error>
                                    <mat-error *ngIf="noStudents2.errors?.pattern">Only numbers Allowed</mat-error>
                                </mat-form-field>
                            </td>
                            <td class="col-md-1">
                                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                    <input (blur)="calculateTotal(noStudents3)"
                                        name="nostudUndertakingResearchProject_{{[i]}}" matInput #noStudents3="ngModel"
                                        [(ngModel)]="enrich.nostudUndertakingResearchProject" required
                                        pattern="[\d{1,5}]*">
                                    <mat-error *ngIf="noStudents3.errors?.required">These fields is mandatory
                                    </mat-error>
                                    <mat-error *ngIf="noStudents3.errors?.pattern">These fields is mandatory
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <td class="col-md-1">
                                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                    <input (blur)="calculateTotal(noStudents4)"
                                        name="nostudUndertakingIndustryVisits_{{[i]}}" matInput #noStudents4="ngModel"
                                        [(ngModel)]="enrich.nostudUndertakingIndustryVisits" required
                                        pattern="[\d{1,5}]*">
                                    <mat-error *ngIf="noStudents4.errors?.required">These fields is mandatory
                                    </mat-error>
                                    <mat-error *ngIf="noStudents4.errors?.pattern">These fields is mandatory
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <td class="col-md-1">
                                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                    <input (blur)="calculateTotal(noStudents5)"
                                        name="nostudUndertakingCommunityPosting_{{[i]}}" matInput #noStudents5="ngModel"
                                        [(ngModel)]="enrich.nostudUndertakingCommunityPosting" required
                                        pattern="[\d{1,5}]*">
                                    <mat-error *ngIf="noStudents5.errors?.required">These fields is mandatory
                                    </mat-error>
                                    <mat-error *ngIf="noStudents5.errors?.pattern">These fields is mandatory
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <td class="col-md-1">
                                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                    <input (blur)="calculateTotal(noStudents6)" name="nostudUndertakingInAll_{{[i]}}"
                                        matInput #noStudents6="ngModel" [(ngModel)]="enrich.nostudUndertakingInAll"
                                        required>
                                    <mat-error *ngIf="noStudents6.errors?.required">These fields is mandatory
                                    </mat-error>
                                    <mat-error *ngIf="noStudents6.errors?.pattern">These fields is mandatory
                                    </mat-error>
                                </mat-form-field>
                            </td>
                            <td width="5%" style="text-align: left;" *ngIf="islast"><input (click)="del()" class="btn btn-info" type="button"
                                    value="Delete"></td>

                        </tr>
                        <tr>
                            <td colspan="7">
                                <div class="form-group" [style.text-align]="'left'">
                                    <input  (click)="addMore()" class="btn btn-info"
                                        type="button" value="Add more">
                                </div>
                            </td>
                        </tr><br>

                        <tr>
                            <td class="col-md-1"
                                style="text-align: right; font-size: large; color:darkgray;font-weight: bold;">
                                Total:
                            </td>
                            <td class="col-md-1 ">
                                <div class="form-group">
                                    <input class="form-control result-field"
                                        name="curriculamModel.totalNostudUndertakingVisits" #noStudents="ngModel"
                                        [(ngModel)]="curriculamModel.totalNostudUndertakingVisits" 
                                        disabled appearance="outline" style="font-size: 10px; width: 100px;">
                                </div>

                            </td>

                            <td class="col-md-1">
                                <div class="form-group">
                                    <input class="form-control result-field"
                                        name="curriculamModel.totalNostudUndertakingClinicaalVisits"
                                        #noStudents="ngModel"
                                        [(ngModel)]="curriculamModel.totalNostudUndertakingClinicaalVisits"
                                         disabled appearance="outline" style="font-size: 10px; width: 100px;">
                                </div>

                            </td>
                            <td class="col-md-1">
                                <div class="form-group">
                                    <input class="form-control result-field"
                                        name="curriculamModel.totalNostudUndertakingResearchProject"
                                        #noStudents="ngModel"
                                        [(ngModel)]="curriculamModel.totalNostudUndertakingResearchProject"
                                         disabled appearance="outline" style="font-size: 10px; width: 100px;">
                                </div>

                            </td>
                            <td class="col-md-1">
                                <div class="form-group">
                                    <input class="form-control result-field"
                                        name="curriculamModel.totalNostudUndertakingIndustryVisits"
                                        #noStudents="ngModel"
                                        [(ngModel)]="curriculamModel.totalNostudUndertakingIndustryVisits" 
                                        disabled appearance="outline" style="font-size: 10px; width: 100px;">
                                </div>

                            </td>
                            <td class="col-md-1">
                                <div class="form-group">
                                    <input class="form-control result-field"
                                        name="curriculamModel.totalNostudUndertakingCommunityPosting"
                                        #noStudents="ngModel"
                                        [(ngModel)]="curriculamModel.totalNostudUndertakingCommunityPosting" 
                                        disabled appearance="outline" style="font-size: 10px; width: 100px;">
                                </div>

                            </td>
                            <td class="col-md-1">
                                <div class="form-group">
                                    <input class="form-control result-field"
                                        name="curriculamModel.totalNostudUndertakingInAll" #noStudents="ngModel"
                                        [(ngModel)]="curriculamModel.totalNostudUndertakingInAll"
                                         disabled appearance="outline" style="font-size: 10px; width: 100px;">
                                </div>

                            </td>
                        </tr>

                    </div>
                </div><br>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Total number of students in the institution &nbsp;</label>
                            <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                <input matInput required name="student" #student="ngModel" [(ngModel)]="curriculamModel.numberOfStudents8"
                                    [class.is-invalid]="student.invalid && student.touched">
                                <mat-error [hidden]="student.valid || student.untouched">This field is Required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div><br>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label>Result  &nbsp;</label>
                            <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                <input matInput required name="result" #result="ngModel" [(ngModel)]="curriculamModel.result8"
                                    [class.is-invalid]="result.invalid && result.touched">
                                <mat-error [hidden]="result.valid || result.untouched">This field is Required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col form-group d-flex flex-column justify-content-end">
                        <label for="upload">Details of students enrolled in subject-related
                            Certificate/Diploma/Add-on courses
                            yearwise
                            during the last five years </label>
                        <div style="display: flex;">    
                        <input required #fil1="ngModel" requiredFileType type="file" name="nostudUndertakingInAll"
                            [(ngModel)]="curriculamModel.nostudUndertakingInAll" (change)="fileValidation($event)"
                            class="form-control" [style.width.%]="49">
                        <small class="text-danger" *ngIf="fil1.errors?.formatName">
                            {{fil1.errors ?.formatName.value}} These file extension are not allowed
                        </small>
                        <small class="text-danger" [hidden]="!fileError ||  fil1.untouched ">
                            File size is Not compactable
                        </small>
                        <div style="margin-top:1%;margin-left: 1%; color: green;">(excel)</div>
                        </div>
                    </div>
                    <div class="col form-group d-flex flex-column justify-content-end">
                        <label for="upload">Document showing total number of students</label>
                        <div style="display: flex;">
                        <input required #fil2="ngModel" requiredFileType type="file" name="docShownostudUndertakingInAll"
                            [(ngModel)]="curriculamModel.docShownostudUndertakingInAll"
                            (change)="fileValidation($event)" class="form-control" [style.width.%]="49">
                        <small class="text-danger" *ngIf="fil2.errors?.formatName">
                            {{fil2.errors ?.formatName.value}} These file extension are not allowed
                        </small>
                        <small class="text-danger" [hidden]="!fileError ||  fil2.untouched ">
                            File size is Not compactable
                        </small>
                        <div style="margin-top:1%;margin-left: 1%; color: green;">(excel)</div>
                        </div>
                    </div>
                    <div class="row">
                    <div class="col">
                        <label for="upload" style="margin-top: 3%;">Any other relevant information </label>
                        <div style="display: flex;">
                        <input  #fil3="ngModel" requiredFileType type="file" name="anyReleventInfo"
                            [(ngModel)]="curriculamModel.anyReleventInfo" (change)="fileValidation($event)"
                            class="form-control" [style.width.%]="25">
                        <small class="text-danger" *ngIf="fil3.errors?.formatName">
                            {{fil3.errors ?.formatName.value}} These file extension are not allowed
                        </small>
                        <small class="text-danger" [hidden]="!fileError ||  fil3.untouched ">
                            File size is Not compactable
                        </small>
                        <div style="margin-top:1%;margin-left: 1%; color: green;">(PDF,jpeg,word,excel)</div>
                        </div>
                    </div>
                    </div>
                </div><br>
                <div class="row mt-3">
                    <div class="col">
                        <div class="form-group" [style.text-align]="'left'" style="margin-right: 20%;">
                            <button type="submit" routerLink="/fudocs/second"  class="btn btn-light text-info"><div style="display: flex;">
                                <mat-icon style="transform: rotate(180deg)">play_circle_filled</mat-icon>&nbsp; Prev
                            </div></button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" [style.text-align]="'right'">
                            <button type="submit" [disabled]="naacFormEn4.invalid" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" [style.text-align]="'left'">
                            <button type="submit" class=" btn btn-light text-info" style="background-color:#DCE6E6;">Cancel</button>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" routerLink="../feedBack1" [style.text-align]="'right'" style="margin-right: 20%;">
                            <button type="submit"   class="btn btn-light text-info"><div style="display: flex;">Next &nbsp;
                                <mat-icon>play_circle_filled</mat-icon>
                            </div></button>
                        </div>
                    </div>
                           
                </div>
            </div>
        </div><br><br>


    </form>
</div>