
<div class="container-fluid">
    <h2><div class="custom-head-num">1.2.2 </div><div class="custom-head">Courses as against the total number of students during the last five years</div></h2>
    <br>
    <form #naacForm4="ngForm" name="naacForm" required>
        <div class="row">
            <div class="col">
                <table class="table">
                  <thead>
                    <tr style="text-align: center;">
                        <th style="width: 25%;">Year of enrolment</th>
                        <th style="width: 25%;">Number of students enrolled in value-added courses</th>
                        <th style="width: 25%;">Total students across
                            all Programmes that
                            year</th>
                        <th style="width: 25%;">Link to the relevant
                            document</th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr  *ngFor="let enrol of curriculamModel.page4enrol ; let i=index">
                          <td>
                              <div class="form-group">
                                  <mat-form-field appearance="outline" [style.width.%]="85">
                                    <mat-select required #year="ngModel" [(ngModel)]="enrol.yearOfEnrol"
                                    [class.is-invalid]="year.invalid && year.touched" name="year[{{i}}]">
                                    <mat-option *ngFor="let yea of curriculamModel.academicYear" [value]="yea">{{yea}}</mat-option>
                                    </mat-select>
                                    <mat-error [hidden]="year.valid || year.untouched">Academic Year is Required</mat-error>
                                  </mat-form-field>
                               </div>
                          </td>
                          
                          <td>
                              <div class="form-group">
                                  <mat-form-field appearance="outline" [style.width.%]="85">
                                      <input  matInput name="studentsEnrol{{[i]}}" #noStudentEnro="ngModel" 
                                      [(ngModel)]="enrol.studentsEnrol" required pattern="[\d{1,5}]*">
                                      <mat-error *ngIf="noStudentEnro.errors?.required">This field is required </mat-error>
                                      <mat-error *ngIf="noStudentEnro.errors?.pattern">Only numbers Allowed</mat-error>
                                  </mat-form-field>
                              </div>
                          </td>

                          <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline" [style.width.%]="85">
                                    <input matInput name="totalStudents{{[i]}}" #noTotal="ngModel"
                                    [(ngModel)]="enrol.totalStudents" required pattern="[\d{1,5}]*">
                                    <mat-error *ngIf="noTotal.errors?.required">This field is required </mat-error>
                                      <mat-error *ngIf="noTotal.errors?.pattern">Only numbers Allowed</mat-error>
                                </mat-form-field>    
                            </div> 
                          </td>

                          <td>
                              <br>
                                  <input #fil="ngModel" requiredFileType type="file" name="uploadDocs"
                                  [(ngModel)]="enrol.uploadDocs" (change)="fileValidation($event)" class="form-control"
                                  [class.is-invalid]="fil.invalid && fil.touched">
                                  <small class="text-danger" [hidden]="fil.errors ?.formatName || fil.untouched ">
                                  {{fil.errors ?.formatName.value}} 
                                  </small>
                                  <small class="text-danger" [hidden]="!this.fileError ||  fil.untouched ">
                                File size is Not compactable
                                  </small>
                          </td>                         
                      </tr>
                      
                        <td colspan="3">
                            <div class="form-group" [style.text-align]="'left'">
                                <input  (click)="addMore()" class="btn btn-info"
                                    type="button" value="Add more">
                            </div>
                        </td>
                      
                  </tbody>
                </table>
            </div>
        </div><br>


        <div class="row">
            <div class="col">
                <div class="form-group">
                <label>Result as per formula: &nbsp;</label>
                <mat-form-field appearance="outline" [style.width.%]="10">
                    <input matInput required name="formula" #formula="ngModel"
                     [(ngModel)]="curriculamModel.formula4" [class.is-invalid]="formula.invalid && formula.touched">
                     <mat-error [hidden]="formula.valid || formula.untouched">This field is Required</mat-error>
                </mat-form-field>
                </div>
            </div>
        </div><br>


        <div class="row">
            <div class="col">
                <div class="form-group ">
                    <label>Details of students enrolled in the value-added courses: </label>
                    <input required #fil7="ngModel" (change)="fileValidation($event)" requiredFileType type="file" 
                    name="studentsEnro" [(ngModel)]="curriculamModel.page4File1" requiredFileSize 
                    class="form-control" >
                    <small class="text-danger" *ngIf="fil7.errors ?.formatName">
                        {{fil7.errors ?.formatName.value}} These file extension are not allowed
                    </small>
                    <small class="text-danger" [hidden]="!this.fileError ||  fil7.untouched ">
                        File size is Not compactable
                    </small>
                </div>
            </div>
            <div class="col">
                <div class="form-group ">
                    <label for="upload"> Any other relevant information. </label>
                    <input required #fil8="ngModel" (change)="fileValidation($event)" requiredFileType type="file" 
                    name="relevantFile4" [(ngModel)]="curriculamModel.page4File2" requiredFileSize 
                    class="form-control" >
                    <small class="text-danger" *ngIf="fil8.errors ?.formatName">
                        {{fil8.errors ?.formatName.value}} These file extension are not allowed
                    </small>
                    <small class="text-danger" [hidden]="!this.fileError ||  fil8.untouched ">
                        File size is Not compactable
                    </small>
                </div>
            </div>
        </div><br>

        <div class="row mt-3">
            <div class="col">
              <div class="form-group" [style.text-align]="'right'">
                <button type="submit" [disabled]="naacForm4.invalid" class="btn btn-primary">Save</button>
              </div>
            </div>
            <div class="col">
              <div class="form-group" [style.text-align]="'left'">
                <button type="submit" routerLink="/fudocs/curriculam5" 
                  class="btn btn-info">Next</button>
              </div>
            </div>
          </div><br><br>


    </form>




</div>
