
<div class="container-fluid">
    <h2><div class="custom-head-num">1.2.2 </div><div class="custom-head">Courses as against the total number of students during the last five years</div></h2>
    <br>
    <form #naacForm4="ngForm" name="naacForm" required>
        <div class="row">
            <div class="col">
                <table class="table" style="width: 94%; margin-left: 3%;">
                  <thead>
                    <tr style="text-align: center;">
                        <th style="width: 20%;">Year of enrolment</th>
                        <th style="width: 20%;">Number of students enrolled in value-added courses</th>
                        <th style="width: 20%;">Total students across
                            all Programmes that
                            year</th>
                       
                    </tr>
                  </thead>
                  <tbody>
                      <tr  *ngFor="let enrol of curriculamModel.coursesvstotalstudents ; let i=index; last as islast" style="text-align: center;">
                          <td>
                              <div class="form-group">
                                  <mat-form-field appearance="outline" style="font-size: 10px; width: 150px;">
                                    <mat-select  #year="ngModel" [(ngModel)]="enrol.yearOfEnrol"
                                    [class.is-invalid]="year.invalid && year.touched" name="year[{{i}}]" required>
                                    <mat-option *ngFor="let yea of curriculamModel.year" [value]="yea">{{yea}}</mat-option>
                                    </mat-select>
                                    <mat-error [hidden]="year.valid || year.untouched">Academic Year is Required</mat-error>
                                  </mat-form-field>
                               </div>
                          </td>
                          
                          <td>
                              <div class="form-group">
                                  <mat-form-field appearance="outline" style="font-size: 10px; width: 150px;">
                                      <input  matInput name="studentsEnrol{{[i]}}" #noStudentEnro="ngModel" 
                                      [(ngModel)]="enrol.studentsEnrol"  pattern="[\d{1,5}]*" required>
                                      <mat-error *ngIf="noStudentEnro.errors?.required">This field is required </mat-error>
                                      <mat-error *ngIf="noStudentEnro.errors?.pattern">Only numbers Allowed</mat-error>
                                  </mat-form-field>
                              </div>
                          </td>

                          <td>
                            <div class="form-group">
                                <mat-form-field appearance="outline" style="font-size: 10px; width: 150px;">
                                    <input matInput name="totalStudents{{[i]}}" #noTotal="ngModel"
                                    [(ngModel)]="enrol.totalStudents" pattern="[\d{1,5}]*" required>
                                    <mat-error *ngIf="noTotal.errors?.required">This field is required </mat-error>
                                      <mat-error *ngIf="noTotal.errors?.pattern">Only numbers Allowed</mat-error>
                                </mat-form-field>    
                            </div> 
                          </td>
                        <td width="5%" style="text-align: left;" *ngIf="islast"><input (click)="del()" class="btn btn-info" type="button"
                                value="Delete"></td>
               
                      </tr>
                      
                        <td colspan="3">
                            <div class="form-group" [style.text-align]="'left'">
                                <input  (click)="addMore()" class="btn btn-info"
                                    type="button" value="Add more">
                            </div>
                        </td>
                        
                      
                  </tbody>
                </table>
            </div>
        </div>


        <div class="row">
            <div class="col">
                <div class="form-group">
                <label>Result as per formula: &nbsp;</label>
                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                    <input matInput required name="formula" #formula="ngModel"
                     [(ngModel)]="curriculamModel.formula4" [class.is-invalid]="formula.invalid && formula.touched">
                     <mat-error [hidden]="formula.valid || formula.untouched">This field is Required</mat-error>
                </mat-form-field>
                </div>
            </div>
        </div><br>


        <div class="row">
            <div class="col">
                <div class="form-group ">
                    <label>Details of students enrolled in the value-added courses: </label>
                    <div style="display: flex;">
                    <input #fil7="ngModel" (change)="fileValidation($event)"  type="file" 
                    name="studentsEnro" [(ngModel)]="curriculamModel.studentsEnrolledInTheValueAddedCourses" requiredFileSize 
                    class="form-control" [style.width.%]="49" required>
                    <small class="text-danger" *ngIf="fil7.errors ?.formatName">
                        {{fil7.errors ?.formatName.value}} These file extension are not allowed
                    </small>
                    <small class="text-danger" [hidden]="!this.fileError ||  fil7.untouched ">
                        File size is Not compactable
                    </small>
                    <div style="margin-top:1%;margin-left: 1%; color: green;">(excel)</div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group ">
                    <label for="upload"> Any other relevant information. </label>
                    <div style="display: flex;">
                    <input #fil8="ngModel" (change)="fileValidation($event)"  type="file" 
                    name="relevantFile4" [(ngModel)]="curriculamModel.coursesvstotalstudentsReleventInfo" requiredFileSize 
                    class="form-control" [style.width.%]="49" required >
                    <small class="text-danger" *ngIf="fil8.errors ?.formatName">
                        {{fil8.errors ?.formatName.value}} These file extension are not allowed
                    </small>
                    <small class="text-danger" [hidden]="!this.fileError ||  fil8.untouched ">
                        File size is Not compactable
                    </small>
                    <div style="margin-top:1%;margin-left: 1%; color: green;">(PDF,jpeg,word,excel)</div>
                    </div>
                </div>
            </div>
        </div><br>

        <div class="row mt-3">
            <div class="col">
                <div class="form-group" [style.text-align]="'left'" style="margin-left: 20%;">
                    <button type="submit" routerLink="/fudocs/curriculam3" class="btn btn-light text-info">
                    <div style="display: flex;">
                        <mat-icon style="transform: rotate(180deg)">play_circle_filled</mat-icon>&nbsp; Prev
                    </div></button>
                </div>
            </div>
            <div class="col">
              <div class="form-group" [style.text-align]="'right'">
                <button type="submit" [disabled]="naacForm4.invalid" class="btn btn-primary">Save</button>
              </div>
            </div>
            <div class="col">
                <div class="form-group" [style.text-align]="'left'">
                    <button type="submit" class=" btn btn-light text-info" style="background-color:#DCE6E6;">Cancel</button>
                </div>
            </div>
            <div class="col">
              <div class="form-group" [style.text-align]="'right'" style="margin-right: 20%;">
                <button type="submit" routerLink="/fudocs/curriculam5" 
                  class="btn btn-light text-info"><div style="display: flex;">Next &nbsp;
                    <mat-icon>play_circle_filled</mat-icon>
                </div></button>
              </div>
            </div>
            
          </div><br><br>


    </form>




</div>
