<div class="container-fluid">
    <form #naacForm10="ngForm" name="naacForm" required>
    <h1><div class="custom-head">Curricular Planning and Implementation</div><div class="custom-head-num">1.1</div></h1>
    <h2><div class="custom-head-num">1.1.1 </div><div class="custom-head">The Institution ensures effective curriculum planning, delivery and evaluation through a
        well-defined process as prescribed by the respective regulatory councils and the affiliating
        University.</div>
    </h2>
    
        <div class="form-group">
            <div>Provide description of above-mentioned process within 500 words</div>
            <mat-form-field [style.width.%]="70" appearance="outline">
                <button (click)="toogle=!toogle" style="margin-left: 90%; margin-bottom: 3%;"><span>{{toogle?'+':'--'}}</span></button>
                <textarea required name="description" #descripId="ngModel" class="form-control"
                [class.is-invalid]="descripId.invalid && descripId.touched" cols="90" rows="10"
                [(ngModel)]="curriculamModel.description" (keydown)="wordCounter()" 
                [attr.disabled]="words >500 ? '' : null" matInput  [style.height]="toogle?'10rem':'28rem'"></textarea>
            </mat-form-field>
            <div style="margin-left: 60%;">Words: <span id="wordCount">{{ words }}/500</span></div>
            <small class="text-danger" [hidden]="descripId.valid || descripId.untouched">
                Description is required
            </small>
            
            <small class="text-danger" [hidden]="!descMax">
                Maximum 500 Words
            </small>
        </div><br><br>
        
        

        

        

            <div style="font-size: large;">Provide web link to:</div><br>

        
            <div class="col">
                <ul>
                    <li>
                        Minutes of the meeting of the college curriculum committee. &nbsp;
                        <mat-form-field appearance="outline" style="width: 50%; font-size: 10px;">
                            <input matInput name="curriculamModel.minutesMeeting" [(ngModel)]="curriculamModel.minutesOfMeetingCurriculamCommiteeLink">
                        </mat-form-field>
                        <button (click)="myfunc()" style="margin-left: 3%;" class="btn btn-info">Verify</button>
                        <div style="text-align: center;">
                            <label> OR: </label>
                            <div style="display: flex;">
                            <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file" name="curiculamFile"
                                [(ngModel)]="curriculamModel.minutesOfMeetingCurriculamCommiteeFile" requiredFileSize
                                 class="form-control" [style.width.%]="24" style="margin-left: 39%;">
                            <small class="text-danger" *ngIf="fil.errors ?.formatName">
                                {{fil.errors ?.formatName.value}} These file extension are not allowed
                            </small>
                            <small class="text-danger" [hidden]="!this.fileError ||  fil.untouched ">
                                File size is Not compactable
                            </small>
                            <div style="margin-top:1%;margin-left: 1%; color: green;">(PDF,word)</div>
                        </div>
                         </div>   
                    </li><br>
                    
                    <li>
                        Any other relevant information. &nbsp;
                        <mat-form-field appearance="outline" style="width: 50%; font-size: 10px;">
                            <input matInput name="curriculamModel.relevantInfo1" [(ngModel)]="curriculamModel.curriculamPlanningReleventInfoLink">
                        </mat-form-field>
                        <button (click)="myfunc2()" style="margin-left: 3%;" class="btn btn-info">Verify</button>
                        <div style="text-align: center;">
                            <label> OR: </label>
                            <div style="display: flex;">
                            <input required #fil1="ngModel" (change)="fileValidation($event)" requiredFileType type="file" name="relevantFile1"
                                [(ngModel)]="curriculamModel.curriculamPlanningReleventInfoFile" requiredFileSize
                                 class="form-control" [style.width.%]="24" style="margin-left: 39%;">
                            <small class="text-danger" *ngIf="fil1.errors ?.formatName">
                                {{fil1.errors ?.formatName.value}} These file extension are not allowed
                            </small>
                            <small class="text-danger" [hidden]="!this.fileError ||  fil1.untouched ">
                                File size is Not compactable
                            </small>
                            <div style="margin-top:1%;margin-left: 1%; color: green;">(PDF,jpeg,word,excel)</div>
                            </div>
                        </div>    
                    </li>
                </ul>          
             </div><br>
            
            
        
        <div class="row mt-3">
            <div class="col" style="margin-left: 25%;">
              <div class="form-group" [style.text-align]="'right'">
                <button type="submit" [disabled]="naacForm10.invalid" (click)="saveCriteria()"  class="btn btn-primary">Save</button>
              </div>
            </div>
            <div class="col">
                <div class="form-group" [style.text-align]="'left'">
                    <button type="submit" (click)="saveCriteria()"  class=" btn btn-light text-info" style="background-color:#DCE6E6;">Cancel</button>
                </div>
            </div>
            <div class="col">
              <div class="form-group" [style.text-align]="'right'" style="margin-right: 20%;">
                <button type="submit" routerLink="/fudocs/curriculam2" 
                  class="btn btn-light text-info"><div style="display: flex;">Next &nbsp;
                    <mat-icon>play_circle_filled</mat-icon>
                </div></button>
              </div>
            </div>
          </div><br><br>       
           
    </form>
</div>
