<div class="container-fluid px-md-5">
    <form #naacForm27="ngForm" name="naacForm" required>
        <h2><div class="custom-head-num">2.3.1</div> Student-centric methods are used for enhancing learning experiences by:</h2>

        <div class="col">
            <ul>
                <li>Experiential learning</li>
                <li>Integrated/interdisciplinary learning</li>
                <li>Participatory learning</li>
                <li>Problem solving methodologies</li>
                <li>Self-directed learning</li>
                <li>Patient-centric and Evidence-Based Learning</li>
                <li>Learning in the Humanities</li>
                <li>Project-based learning</li>
                <li>Role play</li>
            </ul>
        </div>

        <div class="form-group">
            <div>Response in 500 words..</div>
            <mat-form-field [style.width.%]="70" appearance="outline">

                <button (click)="toogle=!toogle" style="margin-left: 90%; margin-bottom: 3%;"><span>{{toogle?'+':'--'}}</span></button>
                <textarea required name="descriptionn" #descripId="ngModel" class="form-control"
                [class.is-invalid]="descripId.invalid && descripId.touched" cols="90" rows="10"
                [(ngModel)]="teachinglearning.descriptionn" (keydown)="wordCounter()" 
                [attr.disabled]="words >500 ? '' : null" matInput [style.height]="toogle?'10rem':'28rem'"></textarea>
            </mat-form-field>
            <div style="margin-left: 60%;">Words: <span id="wordCount">{{ words }}/500</span></div>
            <small class="text-danger" [hidden]="descripId.valid || descripId.untouched">
                Description is required
            </small>
            <!-- <small class="text-danger" [hidden]="!descMin">
                 Minimum 100 Words
            </small> -->
            <small class="text-danger" [hidden]="!descMax">
                Maximun 500 Words
            </small>
        </div><br>

        <div style="font-size: large;">Provide web link to:</div><br>  

        <div class="col">
            <ul>
                <li>
                    Learning environment facilities with geotagging &nbsp;
                    <mat-form-field  appearance="outline" style="width: 50%; font-size: 10px;">
                        <input matInput  name="teachinglearning.reportURL"
                            [(ngModel)]="teachinglearning.reportURL1">
                    </mat-form-field>
                    <button (click)="myfunc()" style="margin-left: 3%;" class="btn btn-info">Verify</button>

                </li>
                <li>
                    Any other relevant information &nbsp;
                    <mat-form-field  appearance="outline" style= "width:50%; font-size: 10px;">
                        <input matInput  name="teachinglearning.relevantInfo"
                            [(ngModel)]="teachinglearning.relevantInfo1">
                    </mat-form-field>
                    <button (click)="myfunc2()" style="margin-left: 3%;" class="btn btn-info">Verify</button>

                    <div style="text-align: center;">
                        <label> OR: </label>
                        <div style="display: flex;">
                        <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file" name="teachingFile"
                            max-size="2000" [(ngModel)]="teachinglearning.page8File1" requiredFileSize class="form-control"
                            [style.width.%]="24" style="margin-left: 39%;">
                        <small class="text-danger" *ngIf="fil.errors?.formatName">
                            {{fil.errors ?.formatName.value}} These file extension are not allowed
                        </small>
                        <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
                            File size is Not compactable
                        </small>
                        <div style="margin-top:1%;margin-left: 1%; color: green;">(PDF,jpeg,word,excel)</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div><br>

        <div class="row mt-3">
            <div class="col">
                <div class="form-group" [style.text-align]="'left'" style="margin-left: 20%;">
                    <button type="submit" routerLink="/criteria2/page6" class="btn btn-light text-info "><div style="display: flex;">
                        <mat-icon style="transform: rotate(180deg)">play_circle_filled</mat-icon>&nbsp; Prev
                    </div></button>
                </div>
            </div>
            <div class="col">
              <div class="form-group" [style.text-align]="'right'">
                <button type="submit" [disabled]="naacForm27.invalid" class="btn btn-primary">Save</button>
              </div>
            </div>
            <div class="col">
                <div class="form-group" [style.text-align]="'left'">
                    <button type="submit" class=" btn btn-light text-info" style="background-color:#DCE6E6;">Cancel</button>
                </div>
            </div>
            <div class="col">
              <div class="form-group" [style.text-align]="'right'" style="margin-right: 20%;">
                <button type="submit" routerLink="/criteria2/page8" 
                  class="btn btn-light text-info "><div style="display: flex;">Next &nbsp;
                    <mat-icon>play_circle_filled</mat-icon>
                </div></button>
              </div>
            </div>
            
          </div><br><br><br>

    </form>
</div>
