<mat-nav-list>
  <div class="logo py-4">
    <img src="assets/images/logo.png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  

  
   
    <mat-list-item (click)="showSubSubMenu = !showSubSubMenu" class="parent">
      <span  class="full-width" *ngIf="isExpanded || isShowing">Criteria 1</span>
      <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu}" *ngIf="isExpanded || isShowing">expand_more</mat-icon>
    </mat-list-item>
    <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu}" *ngIf="isShowing || isExpanded">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="fudocs/curriculam1">Criteria 1.1.</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="fudocs/curriculam2">Criteria 1.1.2</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="fudocs/curriculam3">Criteria 1.2</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="fudocs/curriculam4">Criteria 1.2.2</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="fudocs/curriculam5">Criteria 1.3.1</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="fudocs/curriculam6">Criteria 1.3.2</a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/fudocs/second">Criteria 1.3.3</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/fudocs/curriculamEnrichment4">Criteria 1.3.4</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="fudocs/feedBack1">Criteria 1.4.1</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="fudocs/feedBack2">Criteria 1.4.2</a>
      

      
      
    </div>
 

  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="/fudocs">  Criteria 1 </a> -->
  
  <!-- <a mat-list-item> <mat-icon>edit</mat-icon> Link 6 </a> -->
</mat-nav-list>



<!-- my code -->

<mat-nav-list>
  
  <mat-divider></mat-divider>
  

  
   
    <mat-list-item (click)="showSubSubMenu2 = !showSubSubMenu2" class="parent">
      <span  class="full-width" *ngIf="isExpanded2 || isShowing2">Criteria 2</span>
      <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu2}" *ngIf="isExpanded2 || isShowing2">expand_more</mat-icon>
    </mat-list-item>
    <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu2}" *ngIf="isShowing2 || isExpanded2">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page1">Criteria 2.1.1</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page2">Criteria 2.1.2</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page3">Criteria 2.1.3</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page4">Criteria 2.2.1</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page5">Criteria 2.2.2</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page6">Criteria 2.2.3</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page7">Criteria 2.3.1</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page8">Criteria 2.3.2</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page9">Criteria 2.3.3</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page10">Criteria 2.3.4</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page11">Criteria 2.4.1</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page12">Criteria 2.4.2</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page13">Criteria 2.4.3</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page14">Criteria 2.4.4</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page15">Criteria 2.4.5</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page16">Criteria 2.5.1</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page17">Criteria 2.5.2</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page18">Criteria 2.5.3</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page19">Criteria 2.5.4</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page20">Criteria 2.6.1</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page21">Criteria 2.6.2</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page22">Criteria 2.6.3</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page23">Criteria 2.6.4</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="criteria2/page24">Criteria 2.7</a>
     
      
    </div>  
</mat-nav-list>

<mat-nav-list>

  <mat-divider></mat-divider>


  
  <mat-list-item (click)="showSubSubMenu3 = !showSubSubMenu3" class="parent">
    <span class="full-width" *ngIf="isExpanded3 || isShowing3">Configuration Screen</span>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu3}" *ngIf="isExpanded || isShowing3">expand_more
    </mat-icon>
  </mat-list-item>
<div class="submenu" [ngClass]="{'expanded' : showSubSubMenu3}" *ngIf="isShowing3 || isExpanded3">
  <a mat-list-item routerLinkActive="list-item-active" routerLink="masterscreen/year">Academic Year</a>
  <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="masterscreen/reports">Reports</a> -->
</div>
</mat-nav-list>

<mat-nav-list>

  <mat-divider></mat-divider>



  <mat-list-item (click)="showSubSubMenu4 = !showSubSubMenu4" class="parent">
    <span class="full-width" *ngIf="isExpanded4 || isShowing4">Reports</span>
    <mat-icon class="menu-button" [ngClass]="{'rotated' : showSubSubMenu4}" *ngIf="isExpanded || isShowing4">expand_more
    </mat-icon>
  </mat-list-item>
  <div class="submenu" [ngClass]="{'expanded' : showSubSubMenu4}" *ngIf="isShowing4 || isExpanded4">
    <a mat-list-item routerLinkActive="list-item-active" routerLink="reportscreen/report">Reports</a>
  </div>
</mat-nav-list>




<!-- <div id="sidebar" class="collapse show navbar-collapse shadow-lg p-7 mb-5 bg-white rounded">
   Sidebar Links 
  <ul class="list-unstyled components">
    <div class="collapse show">



      <li class="nav-item">
        <a class="nav-link bi bi-inboxes-fill " data-toggle="collapse" href="#inboxSubmenu">
          <i class="bi bi-inboxes-fill"></i>
          &nbsp;&nbsp; <i class="fas fa-inbox "></i> <b>&nbsp;Inbox</b></a>
        <ul class="list-unstyled components " id="inboxSubmenu">
          <li><a routerLinkActive="active" routerLink="/inbox/appointment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                class="far fa-calendar-check"></i>&nbsp;<b>Criteria 1</b></a>
          </li>
          <li><a routerLinkActive="active" routerLink="/inbox/appointment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                class="far fa-calendar-check"></i>&nbsp;<b>Criteria 2</b></a>
          </li>
          <li><a routerLinkActive="active" routerLink="/inbox/appointment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                class="far fa-calendar-check"></i>&nbsp;<b>Criteria 3</b></a>
          </li>
          <li><a routerLinkActive="active" routerLink="/inbox/appointment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                class="far fa-calendar-check"></i>&nbsp;<b>Criteria 4</b></a>
          </li>
          <li><a routerLinkActive="active" routerLink="/inbox/appointment">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i
                class="far fa-calendar-check"></i>&nbsp;<b>Criteria 5</b></a>
          </li>

        </ul>
      </li>
    </div>
  </ul>
</div>
<div class="p-4"></div>
<div class="p-4"></div>
<div class="p-4"></div>
<div class="p-4"></div>
<div class="p-4"></div>
<div class="p-4"></div> -->