<div class="container-fluid">
    <form #naacForm6="ngForm" name="naacForm" required>
        <h2>
            <div class="custom-head-num">1.3.2 </div>
            <div class="custom-head">Number of value-added courses offered during the last five years
                that impart transferable and life skills</div>
        </h2><br>

        <div  class="row">
            <div class="col">
                <table class="table">
                    <thead>
                        <tr style="text-align: center;">
                            <th style="width: 20%;">Year</th>
                            <th *ngFor="let year of curriculamModel.academicYear">{{year}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align: center;">
                            <th scope="row" style="text-align: center;">Number of
                                value-added course offered.
                            </th>
                            <td *ngFor="let year of curriculamModel.academicYear ; let i= index">
                                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                    <input matInput required name="valueaddedOffered{{[i]}}" matInput #valueaddedOffer="ngModel"
                                        [(ngModel)]="curriculamModel.valueaddedOffered[i]" required pattern="[\d{1,5}]*">
                                    <mat-error *ngIf="valueaddedOffer.errors?.required">This field is mandatory </mat-error>
                                    <mat-error *ngIf="valueaddedOffer.errors?.pattern">Only numbers Allowed</mat-error>
                                </mat-form-field>
                            </td>
                    </tbody>
                </table>
            </div>
        </div><br><br>

        <div class="row">
            <div class="col-md-4">
                <label>Institutional data in prescribed format.</label>
                <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                    name="InstitutionalFile" max-size="2000" [(ngModel)]="curriculamModel.page6Institutional" requiredFileSize
                    class="form-control" [style.width.%]="94">
                <small class="text-danger" *ngIf="fil.errors?.formatName">
                    {{fil.errors ?.formatName.value}} These file extension are not allowed
                </small>
                <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
                    File size is Not compactable
                </small>
            </div>
            <div class="col-md-8">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon"
                     style="margin-top: 2%;">
                    <mat-icon>download</mat-icon>
                </button>
                <span> &nbsp; Download Template(excel)</span>
            </div><br>
            <span style="margin-top: 1%; font-size: large;">OR:</span>
        </div> <br>
        
        <div class="row">
            <div class="col">
                <table class="table" style="width: 94%; margin-left: 3%;">
                    <thead>
                        <tr style="text-align: center;">
                            <th style="width: 20%;">Name of the
                                value-added
                                courses (with
                                15 or more
                                contact hours)
                                offered during
                                the last five
                                years</th>
                            <th style="width: 17%;">Course Code
                                (where ever
                                applicable)
                            </th>
                            <th style="width:17%;">Year of offering</th>
                            <th style="width: 17%;">Number
                                of times
                                the
                                course
                                occurred
                                during
                                the year
                            </th>
                            <th style="width: 17%;">Number of
                                students who
                                successfully
                                completed the
                                course in the
                                specified year
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let value of curriculamModel.page5val; let i=index; last as islast" style="text-align: center;">
        
                            <td>
                                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                    <input name="valueAdded{{[i]}}" matInput #noValue="ngModel" [(ngModel)]="value.valueAdded"
                                        required >
                                    <mat-error *ngIf="noValue.errors?.required">This field is mandatory </mat-error>
                                </mat-form-field>
                            </td>
        
                            <td>
                                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                    <input name="courseCode{{[i]}}" matInput #noCode="ngModel" [(ngModel)]="value.courseCode"
                                        required >
                                    <mat-error *ngIf="noCode.errors?.required">This field is mandatory </mat-error>
                                </mat-form-field>
                            </td>
        
                            <td>
                                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                    <input name="yearOfOffering{{[i]}}" matInput #noYear="ngModel"
                                        [(ngModel)]="value.yearOfOffering" required >
                                    <mat-error *ngIf="noYear.errors?.required">This field is mandatory </mat-error>
                                </mat-form-field>
                            </td>
        
                            <td>
                                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                    <input name="courseOccured{{[i]}}" matInput #noCourse="ngModel"
                                        [(ngModel)]="value.courseOccured"  required
                                        pattern="[\d{1,5}]*">
                                    <mat-error *ngIf="noCourse.errors?.required">This field is required </mat-error>
                                    <mat-error *ngIf="noCourse.errors?.pattern">Only numbers Allowed</mat-error>
                                </mat-form-field>
                            </td>
        
                            <td>
                                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                                    <input name="noOfStudents{{[i]}}" matInput #noStudent="ngModel"
                                        [(ngModel)]="value.noOfStudents" required pattern="[\d{1,5}]*">
                                    <mat-error *ngIf="noStudent.errors?.required">This field is required </mat-error>
                                    <mat-error *ngIf="noStudent.errors?.pattern">Only numbers Allowed</mat-error>
                                </mat-form-field>
                            </td>
                            <td width="5%" style="text-align: left;" *ngIf="islast"><input (click)="del()" class="btn btn-info" type="button"
                                    value="Delete"></td>
                        </tr>
        
                        <td colspan="6">
                            <div class="form-group" [style.text-align]="'left'">
                                <input (click)="addMore()" class="btn btn-info" type="button" value="Add more">
                            </div>
                        </td>
        
                    </tbody>
                </table>
            </div>
        </div><br><br>
        
        <label style="font-size: large;">Upload :</label><br><br>
        
        <div class="row">
            <div class="col">
                <div class="form-group ">
                    <label for="upload"> Brochure or any other documents relating to value added courses. </label>
                    <div style="display: flex;">
                    <input required #fil9="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                        name="brochure" [(ngModel)]="curriculamModel.page6File1" requiredFileSize 
                        class="form-control" [style.width.%]="44">
                    <small class="text-danger" *ngIf="fil9.errors ?.formatName">
                        {{fil9.errors ?.formatName.value}} These file extension are not allowed
                    </small>
                    <small class="text-danger" [hidden]="!this.fileError ||  fil9.untouched ">
                        File size is Not compactable
                    </small>
                    <div style="margin-top:1%;margin-left: 1%; color: green;">(PDF,word)</div>
                    </div>
                </div>
            </div>
        
            <div class="col">
                <div class="form-group ">
                    <label for="upload">List of value-added courses year-wise offered during the last five years. </label>
                    <div style="display: flex;">
                    <input required #fil10="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                        name="curiculamFile" [(ngModel)]="curriculamModel.page6File2" requiredFileSize 
                        class="form-control" [style.width.%]="44">
                    <small class="text-danger" *ngIf="fil10.errors ?.formatName">
                        {{fil10.errors ?.formatName.value}} These file extension are not allowed
                    </small>
                    <small class="text-danger" [hidden]="!this.fileError ||  fil10.untouched ">
                        File size is Not compactable
                    </small>
                    <div style="margin-top:1%;margin-left: 1%; color: green;">(excel)</div>
                    </div>
                </div>
            </div>
        </div><br><br>
        
        
        
        <div class="row">
            <div class="col">
                <div class="form-group ">
                    <label for="upload"> List of students enrolled in value-added courses year-wise during the last five years.
                    </label>
                    <div style="display: flex;">
                    <input required #fil11="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                        name="curiculamFile" [(ngModel)]="curriculamModel.page6File3" requiredFileSize 
                        class="form-control" [style.width.%]="44">
                    <small class="text-danger" *ngIf="fil11.errors ?.formatName">
                        {{fil11.errors ?.formatName.value}} These file extension are not allowed
                    </small>
                    <small class="text-danger" [hidden]="!this.fileError ||  fil11.untouched ">
                        File size is Not compactable
                    </small>
                    <div style="margin-top:1%;margin-left: 1%; color: green;">(excel)</div>
                    </div>
                </div>
            </div>
        
        
        
        
        
            <div class="col">
                <div class="form-group ">
                    <label for="upload"> Any other relevant information. </label>
                    <div style="display: flex;">
                    <input required #fil12="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                        name="curiculamFile" [(ngModel)]="curriculamModel.page6File4" requiredFileSize 
                        class="form-control" [style.width.%]="44">
                    <small class="text-danger" *ngIf="fil12.errors ?.formatName">
                        {{fil12.errors ?.formatName.value}} These file extension are not allowed
                    </small>
                    <small class="text-danger" [hidden]="!this.fileError ||  fil12.untouched ">
                        File size is Not compactable
                    </small>
                    <div style="margin-top:1%;margin-left: 1%; color: green;">(PDF,jpeg,word,excel)</div>
                    </div>
                </div>
            </div>
        </div><br>
        
        
        <div class="row mt-3">
            <div class="col">
                <div class="form-group" [style.text-align]="'left'" style="margin-left: 20%;">
                    <button type="submit" routerLink="/fudocs/curriculam5" class="btn btn-light text-info">
                    <div style="display: flex;">
                        <mat-icon style="transform: rotate(180deg)">play_circle_filled</mat-icon>&nbsp; Prev
                    </div></button>
                </div>
            </div>
            <div class="col">
                <div class="form-group" [style.text-align]="'right'">
                    <button type="submit" [disabled]="naacForm6.invalid" class="btn btn-primary">Save</button>
                </div>
            </div>
            <div class="col">
                <div class="form-group" [style.text-align]="'left'">
                    <button type="submit" class=" btn btn-light text-info" style="background-color:#DCE6E6;">Cancel</button>
                </div>
            </div>
            <div class="col">
                <div class="form-group" [style.text-align]="'right'" style="margin-right: 20%;">
                    <button type="submit" routerLink="/fudocs/second" class="btn btn-light text-info"><div style="display: flex;">Next &nbsp;
                        <mat-icon>play_circle_filled</mat-icon>
                    </div></button>
                </div>
            </div>
            
        </div><br>
     </form>
</div>        
