<div class="container-fluid px-md-5">
    <form #naacForm224="ngForm" name="naacForm" required>
        <h1><div class="custom-head">Key Indicator-</div><div class="custom-head-num">2.7 </div>
            <div class="custom-head">Student Satisfaction Survey </div><div class="custom-head-num">(50)</div>
        </h1>
        <h2><div class="custom-head-num">2.7.1 </div><div class="custom-head">Online student satisfaction survey regarding teaching learning process</div>
        </h2><br>
        <div style="font-size: large;">Data Requirement: (As per Data Template)</div><br>
        <div class="col">
            <ul>
                <li>Name/Class/Gender</li>
                <li>Student Id Number</li>
                <li>Mobile number</li>
                <li>Email Id</li>
                <li>Degree Programme</li>
            </ul>
        </div><br>
        <div >(Database of all currently enrolled students need to be prepared and shared with NAAC along
            with the online submission of QIF)
            <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file" name="teachingFile"
                max-size="2000" [(ngModel)]="teachinglearning.page12File2" requiredFileSize class="form-control"
                [style.width.%]="24">
            <small class="text-danger" *ngIf="fil.errors?.formatName">
                {{fil.errors ?.formatName.value}} These file extension are not allowed
            </small>
            <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
                File size is Not compactable
            </small>
        </div><br>
        <div style="font-size: large;">Upload:</div><br>
        <div class="col">
            <ul>
                <li>
                    <label>List of opportunities provided for the students for midcourse improvement of
                        performance in the examinations
                    </label>
                    <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                    name="teachingFile" max-size="2000" [(ngModel)]="teachinglearning.page24File1" requiredFileSize
                    class="form-control" [style.width.%]="24">
                    <small class="text-danger" *ngIf="fil.errors?.formatName">
                    {{fil.errors ?.formatName.value}} These file extension are not allowed
                    </small>
                    <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
                    File size is Not compactable
                    </small>
                </li><br>
                <li>
                    Any other relevant information &nbsp;
                    <mat-form-field  appearance="outline" style= "margin-left:28px; width:50%; font-size: 10px;">
                        <input matInput  name="teachinglearning.relevantInfo"
                            [(ngModel)]="teachinglearning.relevantInfo24">
                    </mat-form-field>
                    <div style="text-align: center;">
                        <label> OR: </label>
                        <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file" name="teachingFile"
                            max-size="2000" [(ngModel)]="teachinglearning.relevantFile18" requiredFileSize class="form-control"
                            [style.width.%]="24" style="margin-left: 39%;">
                        <small class="text-danger" *ngIf="fil.errors?.formatName">
                            {{fil.errors ?.formatName.value}} These file extension are not allowed
                        </small>
                        <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
                            File size is Not compactable
                        </small>
                    </div>
                </li><br>
                <li>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Institutional data in prescribed format.</label>
                            <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                                name="teachingFile" max-size="2000" [(ngModel)]="teachinglearning.page12File2" requiredFileSize
                                class="form-control" [style.width.%]="74">
                            <small class="text-danger" *ngIf="fil.errors?.formatName">
                                {{fil.errors ?.formatName.value}} These file extension are not allowed
                            </small>
                            <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
                                File size is Not compactable
                            </small>
                        </div>
                        <div class="col-md-8">
                            <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon"
                                (mouseover)="changeText=true" (mouseout)="changeText=false" style="margin-top: 2%;">
                                <mat-icon>download</mat-icon>
                            </button>
                            <span *ngIf="changeText">Download Template</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div><br>
        <div class="row mt-3">
            <div class="col">
                <div class="form-group" [style.text-align]="'right'">
                    <button type="submit" routerLink="/criteria2/page23" class="btn btn-info">Prev</button>
                </div>
            </div>
            <div class="col">
              <div class="form-group" [style.text-align]="'left'">
                <button type="submit" [disabled]="naacForm224.invalid" class="btn btn-primary">Save</button>
              </div>         
            </div>
          </div><br><br>
    </form>
</div>          

