<div class="container-fluid">
    <form #naacForm3="ngForm" name="naacForm" required>
    <h1><div class="custom-head">Academic Flexibility</div> <div class="custom-head-num">1.2</div></h1>
    <h2><div class="custom-head-num">1.2.1 </div><div class="custom-head">Percentage of inter-disciplinary / inter-departmental courses /training across all the
         Programmes offered by the College during the last five years</div><br><br>
    </h2>
    
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>1.2.1.1: Number of courses offered across all programmes during the last five years: &nbsp; </label>
                    <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                        <input matInput  #coursesOffer="ngModel" name="coursesOffer"
                         [(ngModel)]="curriculamModel.coursesOffered" required pattern="[\d{1,5}]*">
                         <mat-error *ngIf="coursesOffer.errors?.required">This field is required </mat-error>
                         <mat-error *ngIf="coursesOffer.errors?.pattern">Only numbers Allowed</mat-error>                    </mat-form-field>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>1.2.1.2: Number of inter-disciplinary /inter-departmental courses /training offered during the last five
                        years : &nbsp; </label>
                    <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                        <input matInput #trainingOffer="ngModel" name="trainingOffer"
                         [(ngModel)]="curriculamModel.trainingOffered" required pattern="[\d{1,5}]*">
                        <mat-error *ngIf="trainingOffer.errors?.required">This field is required </mat-error>
                        <mat-error *ngIf="trainingOffer.errors?.pattern">Only numbers Allowed</mat-error>                    </mat-form-field>
                </div> 
            </div>
         </div> 

         <div class="row">
            <div class="col">
                <div class="form-group">
                <label>Result as per formula: &nbsp;</label>
                <mat-form-field appearance="outline" style="font-size: 10px; width: 100px;">
                    <input matInput required name="formula" #formula="ngModel"
                     [(ngModel)]="curriculamModel.formula3" [class.is-invalid]="formula.invalid && formula.touched">
                     <mat-error [hidden]="formula.valid || formula.untouched">This field is Required</mat-error>
                </mat-form-field>
                </div>
            </div>
        </div><br>

        <div class="row">
            <div class="col-md-4" >
                <label>Institutional data in prescribed format.</label>
                <input required #fil="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                    name="InstitutionalFile" max-size="2000" [(ngModel)]="curriculamModel.page3Institutional" requiredFileSize
                    class="form-control" [style.width.%]="94">
                <small class="text-danger" *ngIf="fil.errors?.formatName">
                    {{fil.errors ?.formatName.value}} These file extension are not allowed
                </small>
                <small class="text-danger" [hidden]="!fileError ||  fil.untouched ">
                    File size is Not compactable
                </small>
            </div>
            <div class="col-md-8" >
                <button mat-mini-fab color="primary" aria-label="Example icon button with a home icon"
                    (mouseover)="changeText=true" (mouseout)="changeText=false" style="margin-top: 2%;">
                    <mat-icon>download</mat-icon>
                </button>
                <span *ngIf="changeText">Download Template</span>
            </div><br>
            <span style="margin-top: 1%; font-size: large;">OR:</span>
        </div> <br>

        <div class="row">
            <div class="col">
                <table class="table" style="width: 94%; margin-left: 3%;">
                    <thead>
                        <tr style="text-align: center;">
                            <th style="width: 20%;">Year</th>
                            <th style="width: 20%;">Programme</th>
                            <th style="width: 20%;">No. of courses where
                                 inter-disciplinary/inter-departmental courses / 
                                 training were built in the programme:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align: center;" *ngFor="let inter of curriculamModel.page3inter; let i=index;last as islast">
                            <td>
                                <div class="form-group">
                                    <mat-form-field appearance="outline" style="font-size: 10px; width: 150px;">
                                        <mat-select required #year="ngModel" [(ngModel)]="inter.year"
                                        [class.is-invalid]="year.invalid && year.touched" name="year[{{i}}]">
                                        <mat-option *ngFor="let ye of curriculamModel.academicYear" [value]="ye">{{ye}}</mat-option>
                                        </mat-select>
                                        <mat-error [hidden]="year.valid || year.untouched">Academic Year is Required</mat-error>
                                    </mat-form-field>

                                    <tr>
                                        <td colspan="3">
                                            <div class="form-group" [style.text-align]="'left'">
                                                <input  (click)="addMore()" class="btn btn-info"
                                                    type="button" value="Add more"  style="margin-top: 20%;" >
                                            </div>
                                        </td>
                                      
                                    </tr>
                                </div>
                            </td>

                            <td>
                                <div *ngFor="let pr of inter.nameOfprogram; let y=index">
                                <div class="form-group">
                                    <mat-form-field appearance="outline" style="font-size: 10px; width: 150px;">
                                        <mat-select required #prog="ngModel" [(ngModel)]="inter.nameOfprogram[y]"
                                        [class.is-invalid]="prog.invalid && prog.touched" name="prog[{{y}}]" >
                                        <mat-option *ngFor="let t of curriculamModel.programInfo" [value]="t.id">{{t.name}}</mat-option>
                                        </mat-select>
                                        <mat-error [hidden]="prog.valid || prog.untouched">This field is Required</mat-error>
                                    </mat-form-field>
                                </div>
                                </div>


                                <div class="form-group" [style.text-align]="'left'">
                                    <input  (click)="addMoreProg(i)" class="btn btn-info"
                                        type="button" value="Add more"  style="margin-top: 1%;">
                                </div>
                            </td>

                            <td>
                                <div *ngFor="let inte of inter.interDisciplinary; let z=index">
                                <div class="form-group" >
                                    <mat-form-field appearance="outline" style="font-size: 10px; width: 150px;">
                                        <input matInput required [(ngModel)]="inter.interDisciplinary[z]" name="interDisciplinary{{[i]}}" #interDisciplinary="ngModel">
                                        <mat-error *ngIf="interDisciplinary.errors?.required">This field is mandatory </mat-error>
                                    </mat-form-field>
                                </div>
                                </div>         
                            </td>
                            <td width="5%" style="text-align: left;" *ngIf="islast"><input (click)="del()" class="btn btn-info" type="button"
                                    value="Delete"></td>
                            
                          </tr>
                        
                            
                    </tbody>


                </table>
            </div>
        </div><br><br>


        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>List of programmes offered year-wise during the last five years&nbsp;</label>
                    <input required #fil5="ngModel" (change)="fileValidation($event)" requiredFileType type="file" 
                    name="bosMeeting" [(ngModel)]="curriculamModel.page3File1" requiredFileSize 
                    class="form-control" [style.width.%]="49" >
                    <small class="text-danger" *ngIf="fil5.errors ?.formatName">
                        {{fil5.errors ?.formatName.value}} These file extension are not allowed
                    </small>
                    <small class="text-danger" [hidden]="!this.fileError ||  fil5.untouched ">
                        File size is Not compactable
                    </small>
                
                </div>
            </div>
            
            <div class="col">
                <div class="form-group">
                    
                    <label> List of the courses under each programmme where inter-disciplinary/inter-departmental 
                        courses /training were offered year-wise during last five years &nbsp;</label>
                    <input required #fil6="ngModel" (change)="fileValidation($event)" requiredFileType type="file" 
                    name="relevantFile3" [(ngModel)]="curriculamModel.page3File2" requiredFileSize 
                    class="form-control" [style.width.%]="49">
                    <small class="text-danger" *ngIf="fil6.errors ?.formatName">
                        {{fil6.errors ?.formatName.value}} These file extension are not allowed
                    </small>
                    <small class="text-danger" [hidden]="!this.fileError ||  fil6.untouched ">
                        File size is Not compactable
                    </small>
                </div>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label>Minutes of relevant Academic Council/BoS meetings &nbsp;</label>
                    <input required #fil5="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                        name="bosMeeting" [(ngModel)]="curriculamModel.page3File3" requiredFileSize class="form-control"
                        [style.width.%]="49">
                    <small class="text-danger" *ngIf="fil5.errors ?.formatName">
                        {{fil5.errors ?.formatName.value}} These file extension are not allowed
                    </small>
                    <small class="text-danger" [hidden]="!this.fileError ||  fil5.untouched ">
                        File size is Not compactable
                    </small>
        
                </div>
            </div>
        
            <div class="col">
                <div class="form-group">
        
                    <label> Any other relevant information. &nbsp;</label>
                    <input required #fil6="ngModel" (change)="fileValidation($event)" requiredFileType type="file"
                        name="relevantFile3" [(ngModel)]="curriculamModel.page3File4" requiredFileSize class="form-control"
                        [style.width.%]="49">
                    <small class="text-danger" *ngIf="fil6.errors ?.formatName">
                        {{fil6.errors ?.formatName.value}} These file extension are not allowed
                    </small>
                    <small class="text-danger" [hidden]="!this.fileError ||  fil6.untouched ">
                        File size is Not compactable
                    </small>
                </div>
            </div>
        </div><br>

        <div class="row mt-3">
            <div class="col">
                <div class="form-group" [style.text-align]="'left'" style="margin-left: 20%;">
                    <button type="submit" routerLink="/fudocs/curriculam2" class="btn btn-light text-info">
                    <div style="display: flex;">
                        <mat-icon style="transform: rotate(180deg)">play_circle_filled</mat-icon>&nbsp; Prev
                    </div></button>
                </div>
            </div>
            <div class="col">
              <div class="form-group" [style.text-align]="'right'">
                <button type="submit" [disabled]="naacForm3.invalid" class="btn btn-primary">Save</button>
              </div>
            </div>
            <div class="col">
                <div class="form-group" [style.text-align]="'left'">
                    <button type="submit" class=" btn btn-light text-info" style="background-color:#DCE6E6;">Cancel</button>
                </div>
            </div>
            <div class="col">
              <div class="form-group" [style.text-align]="'right'" style="margin-right: 20%;">
                <button type="submit" routerLink="/fudocs/curriculam4" 
                  class="btn btn-light text-info"><div style="display: flex;">Next &nbsp;
                    <mat-icon>play_circle_filled</mat-icon>
                </div></button>
              </div>
            </div>
            
          </div><br><br>


    </form> 


</div>